:root {;
    --color-light: #0f111a;
    --color-dim: #6c6d6d;
    --radius: 4px;
    
    --dotborder: 4px;
    --dot: 11px;
    --line: 4px;
}

p {
    font-weight: 300;
}

h1 {
    letter-spacing: 1.5px;
    color: var(--color-light);
    font-weight: 400;
    font-size: 2em;
    pointer-events: none;
    user-select: none;
    outline: none;
}

#timeline-content {
    margin-top: 20px;
    text-align: center;
}

.timeline-container {
    align-items: center;
}

.event-date {
    color: var(--color-dim);
}

.timeline {
    border-left: var(--line) solid var(--base-color);
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
    color: white;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;

    h1 {
        letter-spacing: 1.5px;
        font-weight: 100;
        font-size: 1.4em;
    }

    .event {
        border-bottom: 1px dashed white;
        position: relative;
        min-width: 800px;

        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }

        &:before, &:after {
            position: absolute;
            display: block;
            top: 0;
        }

        &:before {
            left: -280px;
            color: #fd7e00;
            content: attr(data-date);
            text-align: right;
            font-weight: 100;
            font-size: 0.9em;
        }

        &:after {
            box-shadow: 0 0 0 var(--dotborder);
            left: -57px;
            background: #492000;
            border-radius: 50%;
            height: var(--dot);
            width: var(--dot);
            content: "";
            top: 5px;
        }
    }
}