@page "/about"

<PageTitle>About</PageTitle>

<div class="container">
    <NavBar/>

    <div class="subheading">About</div>

    <div class="contents">
        <div class="text-block">
            SOME GENERAL STUFF HERE
        </div>
        <section class="design-section">
            <div class="timeline">
                <div class="timeline-empty">
                </div>
                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>
                <div class="timeline-component timeline-content">
                    <h3>HTML</h3>
                    <p>Some Text</p>
                </div>
                <div class="timeline-component timeline-content">
                    <h3>CSS</h3>
                    <p>Some Text.</p>
                </div>
                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>
                <div class="timeline-empty">
                </div>
                <div class="timeline-empty">
                </div>
                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>
                <div class=" timeline-component timeline-content">
                    <h3>Javascript</h3>
                    <p>Some Text.</p>
                </div>
            </div>
        </section>
    </div>
</div>