@page "/about"
<link rel="stylesheet" href="css/about.css"/>

<PageTitle>About</PageTitle>

<div class="container">
    <NavBar/>

    <div class="subheading">About</div>

    <div class="contents">
        <p style="max-width: 1000px; text-align: justify; padding: 50px; line-height: 1.5rem; font-size: 20px;">
            I'm an 18-year-old solo developer with a strong passion for technology, computer science, and physics. I
            began programming at 14, and since then, I've explored a wide range of projects that continuously push my
            skills forward. In game development, I use the lightweight, open-source Godot engine with C# — one of my
            favorite programming languages. Beyond games, I’ve worked on full-stack web applications, built automated
            Discord bots, and gained solid experience in database management. Outside of coding, I’ve been playing the
            piano since I was six, and I also enjoy creating YouTube content where I share gameplay from titles like
            Ready or Not and Door Kickers 2.
        </p>
        <div class="timeline-container">
            <h1 style="color: white" tabindex="-1">Education</h1>

            <ul class="timeline">
                <li class="event">
                    <h3>Internship Cronn GmbH <span class="event-date">17.06.2025 - 26.09.2025</span></h3>
                    <p>3-Month paid internship at <a href="https://cronn.de">Cronn</a> (Backend, CI/CD, Testing) with
                        Java/JUnit, Gitlab/Jenkins and OpenRewrite (see <a href="https://cronn.de">this blog</a>)</p>
                </li>
                <li class="event">
                    <h3>Internship Cronn GmbH <span class="event-date">22.07.2024 - 08.07.2024</span></h3>
                    <p>2-Week internship at <a href="https://cronn.de">Cronn</a> (Frontend, Backend, CI/CD, Testing)</p>
                </li>
                <li class="event">
                    <h3>Otto-Kühne-Schule Bad Godesberg <span class="event-date">2017 - 2025</span></h3>
                    <p>Completed secondary education at
                        <a
                            href="https://www.otto-kuehne-schule.de/"
                            style="text-decoration: none;">Otto-Kühne-Schule</a> with advanced-level
                        courses in
                        mathematics and physics.<br>
                        Finished the Abitur (German university-entrance qualification) in July 2025</p>
                </li>
                <li class="event">
                    <h3>Cambridge English: Advanced (CAE), Level C2 - Grade A <span class="event-date">March 2024</span>
                    </h3>
                    <p>Achieved Grade A at Level C2, demonstrating near-native English proficiency.</p>
                </li>
            </ul>
        </div>
    </div>
</div>