@page "/contact"

<PageTitle>Contact</PageTitle>

<div class="container">
    <NavBar/>

    <div class="subheading">Contact</div>
    <div class="text-block">
        CONTACT ME !!!!
    </div>
</div>