@page "/projects"
@rendermode InteractiveServer

<PageTitle>Projects</PageTitle>

<div class="container">
    <NavBar/>

    <div class="subheading">Projects</div>

    <div class="project-list">
        <a href="https://bot.kaenguruu.dev">
            <div class="project">
                <img src="images/beutelbot.png" alt="Project Logo"/>
                <div class="project-content">
                    <span class="project-title">BeutelBot</span>
                    <span class="project-description">BeutelBot is a versatile Discord bot designed to enhance server management and engagement. Originally developed as RTOSharp, it has evolved with new features and optimizations to better serve multiple guilds. Besides classic moderation features the bot also has tons of functionality aimed at increasing the engagement in your community.</span>
                </div>
            </div>
        </a>
        <a href="https://github.com/KaenguruuDev/ElementOfTables">
            <div class="project">
                <img src="images/eot.png" alt="Project Logo"/>
                <div class="project-content">
                    <span class="project-title">Element Of Tables</span>
                    <span class="project-description">In the periodic table view, you can select elements to view information about their chemical attributes and see a Bohr Model of an atom. The nuclide chart allows you to see decay types and equations as well as select a specific nuclide to see its full decay chain.</span>
                </div>
            </div>
        </a>
        <a href="https://kaenguruu.dev/projects">
            <div class="project">
                <img src="images/syntix.png" alt="Project Logo"/>
                <div class="project-content">
                    <span class="project-title">Syntix</span>
                    <span class="project-description">Syntix is a containerized python testing platform where users can submit their code to a testing engine that is fully automated. Especially useful for universities or other institutions to collect and grade assignments automatically.</span>
                </div>
            </div>
        </a>
    </div>
</div>